body {
    background-color: #202225;
    margin: 25px;
    font-family: monospace;
    color: #dcddde;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

p, li {
    font-size: 18px;
    color: #dcddde;
    width: 100%;
    max-width: 700px;
    line-height: 24px;
}

a {
    color:#00b0f4;
}

b {
    color: white;
}

about a {
    color: #dcddde;
    font-style: italic;
}

/* @media only screen and (max-device-width: 600px) {
    body {
        font-size: 100px
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-size: 1em;
        margin: 75px 0;
    }

    p {
        font-size: 0.5em;
        width: unset;
        max-width: none;
        line-height: unset;
    }
} */
